<?xml version="1.0" encoding="utf-8" ?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerUrl>D:\选瓷\updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="AutoUpdater.dll" lastver="1.0.0.0" size="1" />
    <LocalFile path="SimpleWare.exe" lastver="1.0.0.0" size="1" />    
  </UpdateFileList>
</Config>